* {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

body {
  background-color: hsl(0deg, 0%, 95%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  color: hsl(0deg, 0%, 95%);
}

p {
  font-family: Montserrat, sans-serif;
  color: hsla(0deg, 0%, 100%, 0.75);
  line-height: 1.7rem;
}

.row {
  margin-top: 4rem;
}

.orange-bg {
  background-color: hsl(31deg, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cyan-bg {
  background-color: hsl(184deg, 100%, 22%);
}

.dark-cyan-bg {
  background-color: hsl(179deg, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.padding {
  padding: 2.65rem;
}

button {
  background-color: hsl(0deg, 0%, 95%);
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.orange-button {
  color: hsl(31deg, 77%, 52%);
}

.cyan-button {
  color: hsl(184deg, 100%, 22%);
}

.dark-cyan-button {
  color: hsl(179deg, 100%, 13%);
}

@media only screen and (min-width: 768px) {
  .orange-bg {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .dark-cyan-bg {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    margin-top: 2rem;
  }
}
